#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color:aqua;
}

#nav li {
    margin: 5px;
    padding: 10px 15px;
}

#nav li:hover {
    background-color: blueviolet;
}

#nav a {
    text-decoration: none;
}

/* modelo de caja */
.padre {
    background-color: red;
    padding: 20px; 
}

.hijo {
    background-color: gold;
    padding: 100px;
    border: 10px solid black;
    margin: 30px;
}

/* componente */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: brown;
    gap: 1rem;
}

.card {
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card p{
    color: #fff;
    background-color: black;
}

/* carrito */
#carritoLista {
    list-style: none;
    padding: 10px;
    margin: 10px; 
    border: 5px solid black;
    background-color: lightgray;
}

/* concurrencia */
pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: greenyellow;
}

/* try catch */
#bodyTry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensaje{
    font-weight: bold;
    color: red;
}